<div class="moj-filter__selected">

  <div class="moj-filter__selected-heading">
    <div class="moj-filter__heading-title">
      <h2 class="govuk-heading-m">Selected filters</h2>
    </div>

    <div class="moj-filter__heading-action">
    <p class="govuk-body">
       <%= link_to "Clear", '?' + page_state.to_h.except(:filter_selections).to_query, class: "govuk-link govuk-link--no-visited-state" %>
    </p>
    </div>
  </div>

  <% filter_selections.each do |selected_filter_key, input_config_values| %>
    <% if filter_selections.eql?('search') %>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Candidate's name</h3>
    <% else %>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= selected_filter_key.humanize %></h3>
    <% end %>
    <ul class="moj-filter-tags">
    <% input_config_values.each do |input_config_name, _| %>
        <li>
          <%= link_to retrieve_tag_text(selected_filter_key, input_config_name),
              '?' +
                page_state.to_h.merge(
                  filter_selections: build_tag_url_query_params(
                    heading: selected_filter_key,
                    tag_value: input_config_name,
                  )
                ).to_query,
              class: "moj-filter__tag", id: "tag-#{input_config_name}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>
