<% permissions.each do |permission| %>
  <h4><%= permission.provider.name %></h4>
  <ul id="provider-<%= permission.provider.id %>-enabled-permissions">
    <% permission.permissions.each do |permission_name| %>
      <li><%= permission_name.to_s.humanize %></li>
    <% end %>
  </ul>
<% end %>
