<% provider_user.providers.each do |provider| %>
  <% permissions_for_provider = permissions.for_provider(provider) %>
  <% if permissions_for_provider.any? %>
    <h4><%= provider.name %></h4>
    <ul id="provider-<%= provider.id %>-enabled-permissions">
      <% permissions_for_provider.each do |permission_name| %>
        <li><%= permission_name.to_s.humanize %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
