<% provider_user.providers.each do |provider| %>
  <h4><%= provider.name %></h4>
  <ul>
    <% ProviderPermissionsOptions::VALID_PERMISSIONS.each do |permission| %>
      <li><%= permission.to_s.humanize if permissions.send(permission).include?(provider.id) %></li>
    <% end %>
  </ul>
<% end %>

