<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
  <% answers.each do |answer| %>
    <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="rejection-actions" name="what_goes_here" type="radio" value="Yes" aria-controls="conditional-rejection-actions" aria-expanded="true">
       <label class="govuk-label govuk-radios__label" for="rejection-actions">
         <%= answer.label %>
       </label>
    </div>
    <% if answer.answers.any? %>
      <div class="govuk-radios__conditional" id="conditional-rejection-actions">
        <%= render answer.answers.first.type, answers: answer.answers %>
      </div>
    <% end %>
  <% end %>
</div>
