<% content_for :title, t('page_titles.new_task') %>
<% content_for :before_content, govuk_back_link_to %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'form' %>
  </div>
</div>
